@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1366px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Nav section style  */
.nav-container {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    padding-top: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    align-items: center;
    width: 50%;
}

.nav-logo h2 {
    margin-left: 10px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-logo .nav-gamer-g {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-content {
    width: 50%;
    margin-right: 60px;
    margin-left: 200px;
}

.nav-content ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
    align-items: center;
}

.nav-content li {
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 10px;
}

.nav-content p {
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 25px;
    padding-top: 15px;
}

.nav-follow {
    width: 220px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    margin-left: 20px;
}

/* Banner section style  */
.banner-container {
    display: flex;
    align-items: center;
}

.banner-content {
    width: 50%;
    background-image: url("./images/Group\ 14.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-content h2 {
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;

}

.banner-content h1 {
    /* text-align: center; */
    font-size: 5.94rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    text-align: left;
}

.sign-in-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.go-rogue-btn {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* Gamer section style  */
.gamer-container {
    display: flex;
    align-items: center;
    text-align: right;
    margin-top: 70px;
    margin-bottom: 60px;
}

.gamer-img img {
    width: 100%;
}

.gamer-content {
    width: 50%;
}

.gamer-title {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.gamer-container .gamer-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.gamer-purpose {
    width: 520px;
    margin-top: 10px;
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 45px;
}

.gamer-container .unleash-container {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 45px;
}

/* online game funny videos section style  */
.online-game-content {
    text-align: center;
}

.online-game-title {
    color: #0B0223;
    font-size: 2.7rem;
    font-weight: 700;
}

.online-game-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 150px;
    margin-right: 50px;
}

.card-container img {
    width: 250px;
    height: 300px;
}

.card-1 {
    width: 200px;
    height: 250px;
}

.card-2 {
    width: 200px;
    height: 250px;
}

.card-3 {
    width: 200px;
    height: 250px;
    position: relative;
    display: inline-block;
}
.card-3 img{
    display: block;
}
.play-icon{
    color: white;
    font-size: 2.3rem;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.card-3:hover .overlay{
    opacity: 1;
}
.card-effect{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: translate(-50%, -50%);
    color: rgb(247, 5, 85);
    font-size: 1rem;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.card-3:hover .card-effect{
    opacity: 1;
}
.card-4 {
    width: 200px;
    height: 250px;
}

.card-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 30px;
    text-align: justify;
}

/* Play games section stye  */
.play-games-container {
    margin-top: 250px;
    display: flex;
}

.play-img-container {
    width: 50%;
}

.play-img-container img {
    height: 80%;
    width: 600px;
}

.bottom-img img {
    width: 250px;
    height: 300px;
}

.bottom-img {
    position: relative;
    bottom: 220px;
    left: 450px;
}

.play-games-content {
    width: 50%;
    margin-left: 200px;
    margin-top: 250px;
}

.play-games-title {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 60px;
}

.play-games-description {
    margin-top: 15px;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Action game section style  */
.action-game-container {
    margin-top: 70px;
    margin-bottom: 70px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.first-action-container {
    display: flex;
    flex-wrap: nowrap;
}

.action-game {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    width: 230px;
}

.action-game-description {
    font-size: 1rem;
    font-weight: 600;
}

.action-game img {
    padding: 5px;
}

.action-game:hover {
    border: 1px solid #FF42A5;
    cursor: pointer;
    color: #FF42A5;
}

.second-action-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

/* footer section area style */
.footer-container {
    background: #0B0223;
    height: 400px;
    padding: 40px;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 520px;
}

.footer-logo h2 {
    color: white;
}

.ft-gamer-g {
    color: #FF42A5;
}

.footer-pages ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-pages li {
    list-style: none;
    margin: 20px 20px;
}

.footer-pages li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-varous-pages-container ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-varous-pages-container li {
    margin: 15px 15px;
    list-style: none;
}

.footer-varous-pages-container li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.icon-design {
    color: white;
    font-size: 2.5rem;
    margin: 10px;
}

.copyrite-description {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
}